
@page "/bmi"
@page "/bodypositivityorsumthinidk"
@rendermode InteractiveServer


<div class="form-group">
    <p>Weight (pounds)</p>
    <input type="number" @oninput="ChangeWeight" @onmouseleave="BMICalculate" class="form-control" placeholder="weight (pounds)">
    @Weight
</div>
<div class="form-group">
    <p>Height (inches)</p>
    <input type="number" @oninput="ChangeHeight" @onmouseleave="BMICalculate" class="form-control" placeholder="height (in)">
    @Height
</div>





@code {

    string text = "";

    double Weight;
    double Height;

    double bmi;
    private void OnChange(ChangeEventArgs e) => text = (string)e.Value!;

    private void ChangeWeight(ChangeEventArgs e) => Weight = Int32.Parse((string)e.Value!);
    private void ChangeHeight(ChangeEventArgs e) => Height = Int32.Parse((string)e.Value!);
    

    private void BMICalculate()
    {
        bmi = Weight / Math.Pow(Height, 2) * 703;
    }



        
}